<div class="graph-container">
  <ngx-charts-line-chart 
    [view]="[1000,400]"
    [results]="runningData"
    [xAxisLabel]="'Date'"
    [legend]="true"
    [legendTitle]="'Running Categories'"
    [yAxisLabel]="'Time'"
    [timeline]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true"
    [animations]="true">
</ngx-charts-line-chart>
  <!-- <ngx-charts-bar-vertical 
    [view]="[1000,400]"
    [results]="saleData"
    [xAxisLabel]="'Products'"
    [legendTitle]="'Product Sale Chart'"
    [yAxisLabel]="'Sale'"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true">
</ngx-charts-bar-vertical> -->
</div>