<div class="dashboard-container">
  <div class="title"> <a routerLink="home">RunTimez</a></div>
  <div class="header">
    <!-- <li><a routerLink="../logout">Logout (Relative Route to second component)</a></li> -->
  </div>
  <div class="sidebar">
    <div class="menu">
      <div class="menu-item"> <a routerLink="stats">Stats</a></div>
      <div class="menu-item"> <a routerLink="graphs">Graphs</a></div>
      <!-- <div class="menu-item"></div> -->

    </div>
  </div>
  <div class="render">
    <router-outlet></router-outlet>
  </div>

</div>