.form-container {
    background-color: #7DC383;
    position: absolute;
    top: 15%;
    height: 80%;
    width: 60%;
    left: 20%;
    .slide-defs {
        height: 100%;
    }
    .carousel-item div {
      margin: 20px  0 0 20px;
    }
    .radio-container {
        .radio-header {
            margin-bottom: 10px;
            user-select:none;
        }    
        .radio-btn {
            margin-right: 10px;
        }
    }
    // .time-input-label {
        
    // }
    .time-input-field {
        margin-right:10px;
    }
    .results {        
        height: 400px;
        display: flex;
        flex-flow: column wrap;
        width: 92%;      
        .export-container {
            margin: 40px  0 0 40px;

            // margin-top: 40px;
            // margin-left:40px;
        }
    }
    
}

