<div class="form-container compact-container">
  <div class="radio-section">
    <div class="radio-header">
      <h2>Choose a running mode</h2>
    </div>
      <div class="radio-btns">
        <mat-radio-group [(ngModel)]="selectedMode">
          <mat-radio-button class="radio-btn" [checked]="mode==='5k'" (change)="runningModeChanged($event.value)"
            [name]="run-mode" *ngFor="let mode of runModes" [value]="mode">
            {{mode}}
          </mat-radio-button>
        </mat-radio-group>
      </div> 
  </div>         
    <div class="form-wrapper">      
      <br />
      <div class="time-input-label"><h2>Enter your run time:</h2></div>
      <mat-form-field class="time-input-field">
        <input matInput type="number" min="0" placeholder="Hours" value="0"
          [(ngModel)]="timeHours">
      </mat-form-field>
      <mat-form-field class="time-input-field">
        <input matInput type="number" min="0" placeholder="Minutes" [(ngModel)]="timeMinutes">
      </mat-form-field>
      <mat-form-field class="time-input-field">
        <input matInput type="number" min="0" placeholder="Seconds" value="0"
          [(ngModel)]="timeSeconds">
      </mat-form-field>
      <button *ngIf="canCalc()" mat-button color="warn" (click)="resultNav()">Calculate</button>
    </div>    
</div>