/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    font-family: 'VT323', monospace;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    .compact-container {
        background-color: #ffdc34;
    border: solid 15px #00918e;
    height: 400px;
    width: 400px;
    border-radius: 5%;
    }
}

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

